* {margin : 0;  padding : 0;}

.banner{
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
  }
  .bannerimgs{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
  }
  .bannerimg{    
    width: 100%;
    list-style: none;
  }
  .bannerimg img{
    
    display: block;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }

header {    
    height: 70px;
    background-color: #eee;
    text-align: center;
    line-height: 70px;
}

a {
    text-decoration : none;
    color: inherit;
}

#container {
    width: 1200px;
    margin : auto;    
}
#eventbanner {      
    width: 100%;
    display: flex;
    justify-content: center;
}
#eventbanner .bannerimgs {
    display: flex;
    justify-content: space-around;
}
#eventbanner img{
    width: 100%;    
    height: 500px;    
    margin-bottom : 100px;    
}
#eventboard {
    height: 500px;
    width: 100%;
    /* background-color: bisque; */
    display: flex;    
    justify-content: space-between;
}

#eventboardnotice caption {
    font-size: 30px;
    
    font-weight: bold;
    margin-bottom: 10px;
}
#eventboard #eventboardnotice{
    width: 60%;
}
.board_list {
    width : 100%;
    border-top : 2px solid green; 
}

.board_list tr {
    border-bottom : 1px solid #999;
   
}
.board_list th,
.board_list td {
    padding : 10px;
    font-size : 14px;   
}

.board_list thead tr th {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.board_list td {
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.board_list .notice {
    background-color: #eee;
}

.board_list .tit {  
    text-align: left;
    width : 50%;
}

.board_list .tit:hover {  
    text-decoration: underline;
}

.board_list tbody tr td:nth-child(2) {
    text-align: left;
}

.board_list tbody tr td:nth-child(2):hover {
    text-decoration: underline;
    
}

#eventboardnotice2{    
    border : 5px solid gray;
    width : 35%;
    height: 400px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#eventboardnotic2conatainer{
    width : 90%;
    height: 90%;
    padding: 10px;
    border: 1px solid black;
}
#eventboardnotice2 #eventboardnotice2title {
    font-size: 30px;    
    font-weight: bold;
    margin-top : 20px;
    margin-bottom: 30px;
    text-align: center;
}

#membership {
    margin : 20px;
    height: 180px;
}

#membership li{    
    margin-bottom: 10px;    
    font-family: 'Dongle', sans-serif; 
    font-size : 30px;
}
#eventboardnotic2conatainer button {
    margin-top : 10px;
    margin-left : 50px;
    height: 50px;
    width : 270px;
    background-color: black;
    font-size: 20px;
    color : white;
}
#eventboardnotic2conatainer button:hover {
    cursor: pointer;
}

#collabo {    
    width : 100%;    
    margin-top: 100px;
    margin-bottom: 50px;
}
#collabohead {
    font-size: 45px;
    font-weight: bold;
    text-align: center;    
    margin-bottom: 50px;
}
.collabotitle {
    font-size : 30px;
    font-weight: bold;
    color: gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#collabocontent {   
    width: 100%;   
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-around;
    margin-bottom: 100px;
    height: 1000px;
}
#collabocontent div{
    width : 48%;
    height: 48%;   
    margin-bottom: 10px;   
}
#collabocontent div img {
    width : 100%;
    height : 100%;
    border-radius: 10px;
}
#collabocontent div img:hover {
    border : 2px solid black;
}

#coupon {
    height: 150px;
    width: 100%;    
    display: flex;
    justify-content: center;
}
#coupon div {
    width : 23%;
    margin : 10px;

}
#coupon img {
    width: 100%;
    border-radius: 10px;
}

#coupon img:hover {
    border: 2px gray solid;
    cursor: pointer;
}
#eventhead {
font-size: 45px;
    font-weight: bold;
    text-align: center;    
    margin-bottom: 50px;
    margin-top : 200px;
}
#eventnav  {
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}
#eventnav ul {
    display: flex;    
}
#eventnav ul li {
    font-weight: bold;
    font-size: 30px;
    margin-right: 50px;
    color: gray;
}

#eventnav ul li:hover {
    color : black;
}
#item {    
    width: 100%;
    
}
#item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#item ul li {
    height: 680px;
    width: 31%;
    margin : 10px;
    
}
#item ul li .item {
    height : 70%;
    width: 100%;    
}
#item ul li .item:hover{
    border: 2px solid black;
    cursor: pointer;
}
#item ul li .item img {
    width: 100%;
    height: 100%;
}
#item ul li .itemdetail {
    height: 15%;
    width : 100%;
    
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}
#item ul li .eventday {
    height: 10%;
    width : 100%;
    
    font-size: 20px;
}

.search2 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search2 #searchbar2 {
    height: 22px;
    width : 180px;
}
.search2 #searchbutton2 {
    height: 22px;
    width : 35px;
    font-weight: bold;
}
.search2 #searchbutton2:hover {
    cursor: pointer;
}

.paging {
    margin : 10px;   
    display : flex;
    justify-content: center;
    
}
.paging a {    
    margin-left : 10px;
    padding : 5px 10px;
    border : 1px solid #eee;
    font-size : 14px;
}

.paging a:frist-child {
    margin-left: 0;
}

.paging a.bt {
    background-color: #eee;
}

.paging a.num {
    border : 1px solid #eee;
    font-weight : 600;
}

#usercon {
    margin-top: 150px;
    margin-bottom : 300px;
}
#usercontenttitle {
    font-weight: bold;
    font-size: 30px;    
    color: gray;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
#usercontent {
    margin-top: 10px;
    height: 550px;
    width: 100%;
    background-color: bisque;
    display: flex;
}
#usercontent img {
    width: 100%;
    height: 100%;
}
#usercontent img:hover {
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 10px;
    border: gray solid 2px;
    box-shadow: 5px 5px 10px 3px gray;
}

#usercontent #depth1 {
    width: 25%;
    height: 100%;
    background-color: green;
}
#usercontent #depth2 {
    background-color: yellow;
    width: 75%;
    height: 100%;
}
#usercontent #depth3 {
    width : 100%;
    height: 50%;    
    display: flex;
}
#usercontent #depth3 #depth3first{
    width :50%;
    height: 100%;
    background-color: aqua;
}
#usercontent #depth3 #depth3second {
    width : 50%;
    height: 100%;
}
#usercontent #depth4 {
    width : 100%;
    height: 50%;
    display: flex;
    background-color: blue;
}
#usercontent #depth4 #depth4first{
    width : 60%;
    height: 100%;
    background-color: pink;
}
#usercontent #depth4 #depth4second{
    width : 40%;
    height: 100%;
    background-color: red;
}
#userconmore {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100px;
    margin-top : 20px;
}
#usercon button {   
    width : 300px;
    height: 50px;
    color: white;
    background-color: rgb(75, 202, 75);
    font-size : 50px;
    line-height: 60px;
    font-family: 'Dongle', sans-serif; 
    border : none;
    border-radius: 10px;
} 
#usercon button:hover {
    cursor: pointer;
    
}   
    






footer{
    margin-top : 200px;
    height: 300px;
    padding-top: 10px;
    padding-bottom : 10px;
    background-color: rgb(192, 192, 192);   
}