body {
  margin: 0;
  padding: 0;
}
.footer {
  width: 100%;
  
  
}
#back {
  background: #729343;
}
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  height: 35px;
  margin: 0 auto;
  padding:10px;
  margin-top : 200px;
}
.footer-text {
  color :white;
  margin-top:2%;
}
.footer-text1 {
  color :white;
  margin-top:4%;
  margin-right:5%;
}
.footer-lefttop {
  display:flex;
  flex-direction: row;
}
.footer-img {
  margin-left: 5px;
  width:20%;
  margin-left: 5px;
}
.footer-righttop {
  display:flex;
  flex-flow: row;
  margin-left: 20px;
  padding:0;
}
.company-info {
  width: 100%;
  line-height : 25px;
  color : gray;  
}
.company-info a {
	color : gray;
}
.footer-bottom {
  height : 250px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-bottom : 50px;
  
  
}


.help-list {
  list-style: none;
  margin-top: 20px;
  margin-bottom : 10px;
  padding: 20px;
  width: 100%;
  
}
.list-top {
  font-size: larger;
}
.list {
  margin-top: 10px;
}
.list a:link {
  color:black;
  text-decoration: none;
}
.list a:hover {
  color: #464e46;
}
.list a:visited {
  color:black; 
}


