*{
  padding: 0;
  margin:0;
  user-select: none;
}
.header{
  width: 100%;
  min-width: 1000px;
  height: fit-content;
  border-bottom: 1px solid green;
 

}
.headermain{
  width: 1500px;
  height: 150px;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin : auto;
}
.header_logo{
  width:30% ;  
  height: 60%;
 
 
}

#search {
  width : 60%;
  height: 100%;
  
}

#searchbox {
  margin: 60px auto ;
  height: 100%;
  width : 50%;     
    
}
#box {        
  height: 40px;
  width : 400px;
  border : 2px solid #729343;
  display: flex;
  border-radius: 5px;
}
#box input {
  border : none;
  width : 80%;
  height: 80%;
  margin-left: 10px;        
  margin-top : 5px;
  margin-right: 10px;
}
#box input:focus {
  outline: none;
}
#box button {
  border :none;
  width : 15%;
  background-color: #729343; 
  
}

#box button:hover {
	cursor : pointer;
}

.data{

width: 100%;
height: 300px;    
display: none;
background-color: rgba(128, 128, 128,0.4);
position: relative;
z-index: 80;

}
 


.nav{
  width: 30%;
  
}
.nav ul{
  list-style-type: none;
  display: flex;
  justify-content: right;
  font-size: large;
  font-weight: bold;  
}
.nav ul li {
  margin-left : 15px;
}
.nav ul li a{
  text-decoration: none;
  color: #729343;
}

.headernav{
  width: 100%; 
  height: 40px; 
  display: flex;
  justify-content: center;    
  
}
.menu{
  width: 1350px;
  height: 100%;
  display: flex;
  justify-content: center;  
  list-style:none;  
  font-weight: bold;
  
 
}
.menu >li{
  width: 12%;
  height: 100%;
  text-align: center;   
  line-height: 40px;  
  
 
}
.menu li a {
  color : #729343;
  width : 100%;
  display : block;
}

.menu li:hover{
  background-color: #729343;  
}
.menu li:hover a {
  color : white;
}

.submenu {
  background-color: #eee;
  width: 161px;
  color : black;
  opacity: 0.8;
  display: none;
}
.menu li:hover .submenu {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 100;
}