/* 회원가입 */

header {
  width: 100%;
  height: 100px;
}


*{
  padding: 0;
  margin: 0;
  border: none;
}
body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align : center;
}



.join-wrapper{
  box-sizing: border-box;

  width: 400px;

  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  

}

.join-wrapper > h3{
  font-size: 24px;
  color: #63ad6d;
  margin-bottom: 30px;
}
#join-form > input{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}

#join-form > #phone1 > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}

#join-form > #phone_check {
  width: 28%;
  height: 48px;
  background-color: #d3cece;
  border-radius: 6px;
}







#join-form > input::placeholder{
  color: #afa7a7;
}
button[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #1f1d22;
  margin-top: 20px;
}


button{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}






/* 체크박스 */
#join-form > input[type="checkbox"]{
  display: none;
}
#join-form > label{
  color: #999999;
}
#join-form input[type="checkbox"] + label{
  cursor: pointer;
  padding-left: 26px;
  background-image: url("checkbox.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#join-form input[type="checkbox"]:checked + label{
  background-image: url("checkbox-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}


/* 아이디 입력 */
#join-form > .info_id > input{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}
#join-form > .info_id > input::placeholder{
  color: #9b9292;
}
#join-form > .info_id > input[type="button"]{
  color: #fff;
  font-size: 16px;
  background-color: #1f1d22;
  margin-top: 20px;
}

.info_id {
  position: relative;
}
.info_id button{
  position: absolute;
  width: 90px;
  height: 40px;
  top: 0;
  bottom: 16px;
  right: 5px;
  margin: auto 0;
  border-radius: 3px;
  background-color: rgb(92, 146, 104);
}



/* 이메일 입력 */
#join-form > .info_email > input{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}






.domain {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;

  cursor: pointer;
}

.domain .domain__list {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 40%;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #d9d6d6;
  /* 리스트 안 보이게 하기 */
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: .3s;
}

.domain .domain__list.active {
  /* 리스트 보이기 */
  overflow-x : hidden;
  overflow-y : auto;
  opacity: 1;
  max-height: 60px;
}


.domain .domain__list::-webkit-scrollbar {
  width: 4px;
}

.domain .domain__list::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 2px;
}

.domain .domain__list::-webkit-scrollbar-track {
  background-color: #ebe9e9;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 300px;
}