
#container {
    width : 100%;
    
}
#maincontent {
    width : 1200px;
   
    margin : 0 auto;   
    
}

#maincontent #contentbox {
    width : 85%;
    margin : auto;   
}
#maincontent #contentbox #outbox {
    width : 800px;
    height: 700px ;    
    margin : 100px auto;

}
#contentbox #outbox #outtitle {
    margin-bottom: 10px;
    height: 38px;
    font-size: 25px;
    font-weight: bold;    
    border-bottom: 2px solid gray;
}

#contentbox #outbox #outdetailbox {
    margin-bottom: 10px;
    height: 37%;     
    border: 2px solid gray;
}

    #outdetail{
        width : 95%;
        height: 90%;        
        margin : auto;
        margin-top: 15px;
    }
    #outdetail #outdetailwarn {
    	
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 23px;
        font-weight: bold;
        color: rgb(235, 62, 62);
    }

    #outdetail #outdetailcontent{
        line-height: 22px;                 
    }
        


#contentbox #outbox #outwarn {
    height: 25%;    
    margin-bottom: 10px;
   

}
    #outwarn #outwarntitle {
        height: 20%;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        
                          
    }
    #outwarn #outwarncontent {
        height: 75%;
        border : 2px solid gray;       
    }
    #outwarn #outwarncontent ul {
        
        width : 95%;
        margin : auto;
        margin-top : 15px;
        font-size: 13px;
        line-height: 25px;
       
    }


#contentbox #outbox #outreason {
    height: 10%;    
    margin-bottom: 10px;
}   
    #outreason #outreasontitle {
        height: 20%;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    #outreason select {
        width: 100%;
        height: 27px;
    }

#outcheckbox {
    width : 100%;
    height: 5%;
    
}   



#contentbox #outbox #outbutton {
    height: 10%;    
    display: flex;
    justify-content: center;    
}

    #outbutton button {
        margin : auto;
        height: 50px;
        width: 150px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color : black;
        border-radius: 5px;
        border : none;
    }
    #outbutton button:hover {
        cursor: pointer;
    }


